<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="MYSQLDB" providerName="Microsoft.Data.MySqlClient" connectionString="server=127.0.0.1;port=3306;database=world;uid=root;pwd=SurLog12#" />
		<add name="MYSQLDBProduction" providerName="Microsoft.Data.SQLServer" connectionString="server=192.168.0.1;port=3306;database=soti-platform;uid=root;pwd=SurLog12#" />
	</connectionStrings>
</configuration>