<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="k1" value="v1"/>
		<add key="k2" value="v2"/>
		<add key="k3" value="v3"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="WingtipToys" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=WingtipToys;Integrated Security=True;Pooling=False" />
	</connectionStrings>
</configuration>